<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Peep Groups</ion-label>
            <ion-select [(ngModel)]="activeGroup">
                <ion-option *ngFor="let g of load.user_groups" [value]="g">{{g.data.group_name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngFor="let item of activeGroup.data.members" (click)="sendMessage(item);">
            <ion-thumbnail item-start *ngIf="item.uid !== load.user_data.uid">
                <img src="{{item.photoURL}}" onerror="this.src='./assets/imgs/loading.png';" class="avatar-image">
            </ion-thumbnail>
            <h2 class="capitalize" *ngIf="item.uid !== load.user_data.uid">{{item.displayName}}</h2>
            <p *ngIf="item.uid !== load.user_data.uid">{{item.info}}</p>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer (click)="viewCtrl.dismiss()">
    <ion-toolbar>
        <p text-center><ion-icon name="close"></ion-icon> Cancel</p>
    </ion-toolbar>
</ion-footer>