<ion-header>
    <ion-navbar>
      <ion-buttons>
        <button ion-button icon-only (click)="viewCtrl.dismiss()">
          <ion-icon color="white" name="ios-arrow-round-back"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    </ion-header>
<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>Peep Groups</ion-label>
          <ion-select [(ngModel)]="activeGroup">
              <ion-option *ngFor="let g of load.user_groups" [value]="g">{{g.data.group_name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngFor="let item of activeGroup.data.members" (click)="showConnection(item);">
            <ion-thumbnail item-start>
              <img src="{{item.photoURL}}" onerror="this.src='./assets/imgs/loading.png';" class="avatar-image">
            </ion-thumbnail>
            <h2 class="capitalize">{{item.displayName}}</h2>
            <p>{{item.info}}</p>
        </ion-item>
      </ion-list>
</ion-content>