<ion-content class="main-modal">
    <div class="modal">

        <ion-row>
            <ion-col col-2>
                <img [src]="post.profile_img" class="avatar-modal" alt=""> 
            </ion-col>

            <ion-col col-8>
                <p (click)="profile()" class="capitalize">{{ post.displayName }}</p>
            </ion-col>

            <!-- If you wish, you can add close icon too. Just delete comment code -->
            <ion-col col-2>
                <span style="float: right; font-size: 18px;" (click)="viewCtrl.dismiss()">
                    <ion-icon name="ios-close-circle-outline"></ion-icon>
                </span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-label>Group</ion-label>
                    <ion-select [(ngModel)]="post.group" class="group-select">
                        <ion-option *ngFor="let g of load.user_groups" value={{g.data.group_code}} class="group-select">{{g.data.group_name}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-row>

        <!-- Post image -->
        <div *ngIf="!loading; else showLoading">
            <ion-slides pager="pendingPost.length > 1">
                <ion-slide *ngFor="let img of pendingPosts" class="post_img">
                    <img src="data:image/png;base64,{{img}}" alt="" >
                </ion-slide>
            </ion-slides>
        </div>

        <ng-template #showLoading class="post_img">
            <img src="./assets/imgs/loading.png">
        </ng-template>
            <div class="anotherPhotoButton">
                <button ion-button round small (click)="addAnother()" color="dark">
                    Add Photo
                </button>
            </div>
        <ion-row text-center>
            <ion-item>
                <ion-icon name="ios-clipboard-outline" item-start></ion-icon>
                <ion-textarea type="text" [(ngModel)]="post.description" placeholder="Enter Description Here" autocomplete="on" autocorrect="on"></ion-textarea>
            </ion-item>
        </ion-row>
        <hr>
        <ion-row text-center>
            <button ion-button block round (click)="submit()" color="dark">
                Post
            </button>
        </ion-row>

    </div>
      
</ion-content>