
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p style="align-content: center; text-align: center; opacity: 0.4">Feature coming very soon!</p>
  <!--<ion-list>
    <ion-item class="group-select" no-lines>
        <ion-label>Peep Groups</ion-label>
        <ion-select [(ngModel)]="activeGroup">
            <ion-option *ngFor="let g of load.user_groups" [value]="g">{{g.data.group_name}}</ion-option>
        </ion-select>
    </ion-item>
    <div *ngIf="activeGroup !== null">
      <ion-item *ngFor="let g of activeGroup.events">
        <h2 *ngIf="g">{{g.title}}</h2>
        <h3 *ngIf="g">{{g.description}}</h3>
        <p *ngIf="g">{{g.start}} - {{g.end}}</p>
        <button *ngIf="g" ion-button clear item-end>View</button>
      </ion-item>
    </div>
  </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="#F19419" (click)="createEvent()"><ion-icon name="ios-add"></ion-icon></button>
  </ion-fab>-->
</ion-content>
