
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
  <ion-list no-lines>
    <ion-item class="group-select" no-lines>
        <ion-label>Peep Groups</ion-label>
        <ion-select [(ngModel)]="activeGroup" (ionChange)="changeGroup()">
            <ion-option *ngFor="let g of load.user_groups" [value]="g">{{g.data.group_name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngFor="let g of events">
      <h2 *ngIf="g">{{g.title}}</h2>
      <h3 *ngIf="g">{{g.description}}</h3>
      <p *ngIf="g"> {{g.date}} at {{g.start}}<span *ngIf="g.end"> till {{g.end}}</span></p>
      <button *ngIf="g" ion-button clear item-end (click)="showEvent(g)">View</button>
    </ion-item>
  </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="#F19419" (click)="createEvent()"><ion-icon name="ios-add"></ion-icon></button>
  </ion-fab>
</ion-content>
